<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlocoDeNotas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlocoDeNotas.Properties.Settings>
            <setting name="AlturaJanela" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="LarguraJanela" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="PosicaoXJanela" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PosicaoYJanela" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tema" serializeAs="String">
                <value>Sistema</value>
            </setting>
            <setting name="JanelaMaximada" serializeAs="String">
                <value>False</value>
            </setting>
        </BlocoDeNotas.Properties.Settings>
    </userSettings>
</configuration>